body {background-color:rgb(150, 169, 169);
font-family: 'Times New Roman', Times, sans-serif;}
header {background-color:rgb(17, 100, 188);}

h1{color:rgb(13, 12, 12);}
nav > ul {line-height:2em;
       list-style-type:none;
       padding-left:5px;}

section {background-color:rgb(88, 221, 221)
         width:75%;
        font-size:1.2em;}
footer {background-color:rgb(17, 100, 188);}        